/* extends Scratch Forum Meme by @scratchisthebest */

#pagewrapper {
  background black !important
  color grey !important
}

.postmsg .post_body_html {
  font-size 1.3rem
}

.follow-topic .button, .unfollow-button.button {
  color orange
  border-color orange
  margin-top 0
  font-weight 600 !important

  &:hover {
    background orange
    color white
    border-color orange
  }
}

.blockpost {
  position relative
}

.blockpost > a[name] {
  top -64px
}

#djangobbwrap .djangobb {
  .blockpost, .postright {
    color white
    background-color #1D1D1D
  }

  blockquote {
    background-color rgba(grey, 0.1)
    border-left-color rgba(grey, 0.1)
  }

  a:not(.button) {
    color blue !important

    &:hover, &:hover:after {
      color blue !important
      background-color transparent !important
      text-decoration underline !important
    }

    &.black, table & {
      color orange !important

      &:hover, &:hover:after {
        color orange !important
      }
    }
  }

  .postfootright {
    a {
      color rgba(grey, 0.5) !important
      background-color transparent !important
      transition color 50ms

      &:hover, &:hover:after {
        color grey !important
        text-decoration none !important
      }
    }
  }

  * {
    font-family Body
  }

  pre, pre span {
    font-family 'Source Code Pro', 'Fira Mono', 'Roboto Mono', 'Menlo', monospace
  }

  .button.new_topic {
    background black
    line-height 1
    top 76px

    border-radius 2px !important
    @extend h3

    span, &::before {
      color #faa51d
    }

    &:hover {
      background orange
      border 3px solid orange !important

      span {
        color white
      }
    }

    &::before {
      display none
    }
  }

  #vf .box-head h4 span {
    @extend h2
  }

  #vf > .box > .box-content {
    margin-top 8em
  }

  .tclcon > h3 > a {
    color white !important

    &:hover {
      color white !important
    }
  }

  .tcr > a {
    color #888 !important

    &:hover {
      color #888 !important
    }
  }

  .linkst li:nth-child(2) a {
    color orange !important

    &:hover {
      color orange !important
    }
  }

  .code {
    border 0
    padding 0
    color white
    background transparent
  }

  .postsignature {
    hr {
      margin-bottom 1rem
    }

    padding-bottom 1rem
  }

  .markItUpPreviewFrame {
    background-color #1D1D1D
    border 0
    border-radius 0
  }

  /* <thanks matu> */

  .markItUp .markItUpButton:after {
    font-family: "Material Icons";
    font-size: 16px;
    color: #aaa;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  .markItUp .markItUpButton1 a {
    background-image: none !important;
  }

  .markItUp .markItUpButton1:after {
    content: "format_bold";
  }

  .markItUp .markItUpButton2 a {
    background-image: none !important;
  }

  .markItUp .markItUpButton2:after {
    content: "format_italic";
  }

  .markItUp .markItUpButton3 a {
    background-image: none !important;
  }

  .markItUp .markItUpButton3:after {
    content: "format_underline";
  }

  .markItUp .markItUpButton4 a {
    background-image: none !important;
  }

  .markItUp .markItUpButton4:after {
    content: "strikethrough_s";
  }

  .markItUp .markItUpButton5 a {
    background-image: none !important;
  }

  .markItUp .markItUpButton5:after {
    content: "image";
  }

  .markItUp .markItUpButton6 a {
    background-image: none !important;
  }

  .markItUp .markItUpButton6:after {
    content: "link";
  }

  .markItUp .markItUpButton7 a {
    background-image: none !important;
  }

  .markItUp .markItUpButton7:after {
    content: "format_size";
  }

  .markItUp .markItUpButton7-1:before, .markItUp .markItUpButton7-2:before {
    content: "format_size";
    font-family: "Material Icons";
    font-size: 16px;
    color: #25aff4;
    position: absolute;
    top: 0;
    left: 0;
  }

  .markItUp .markItUpButton8 a {
    background-image: none !important;
  }

  .markItUp .markItUpButton8:after {
    content: "format_list_bulleted";
  }
  .markItUp .markItUpButton9 a {
    background-image: none !important;
  }

  .markItUp .markItUpButton9:after {
    content: "format_list_numbered";
  }

  .markItUp .markItUpButton10 a {
    background-image: none !important;
  }

  .markItUp .markItUpButton10:after {
    content: "format_list_bulleted";
    height: 8px;
    overflow: hidden;
    top: 4px;
  }

  .markItUp .markItUpButton11 a {
    background-image: none !important;
  }

  .markItUp .markItUpButton11:after {
    content: "format_quote";
  }

  .markItUp .markItUpButton12>a {
    background-image: none !important;
  }

  .markItUp .markItUpButton12:after {
    content: "insert_emoticon";
  }

  .markItUp .markItUpButton13 a {
    background-image: none !important;
  }

  .markItUp .markItUpButton13:after {
    content: "computer";
  }

  .markItUp .markItUpButton15 a {
    background-image: none !important;
  }

  .markItUp .markItUpButton15:after {
    content: "format_clear";
  }

  .markItUp .markItUpButton14>a {
    filter: saturate(0);
    -webkit-filter: saturate(0);
  }

  .markItUp .markItUpButton16 a {
    background-image: none !important;
  }

  .markItUp .markItUpButton16:after {
    content: "done";
  }

  /* </thanks matu> */
}

@require 'source/dank.forums.code.styl'
