.code pre .hll { background-color: #49483e }
.code pre .c { color: #75715e } /* Comment */
.code pre .err { color: #960050; background-color: #1e0010 } /* Error */
.code pre .k { color: #66d9ef } /* Keyword */
.code pre .l { color: #ae81ff } /* Literal */
.code pre .n { color: #f8f8f2 } /* Name */
.code pre .o { color: #f92672 } /* Operator */
.code pre .p { color: #f8f8f2 } /* Punctuation */
.code pre .cm { color: #75715e } /* Comment.Multiline */
.code pre .cp { color: #75715e } /* Comment.Preproc */
.code pre .c1 { color: #75715e } /* Comment.Single */
.code pre .cs { color: #75715e } /* Comment.Special */
.code pre .ge { font-style: italic } /* Generic.Emph */
.code pre .gs { font-weight: bold } /* Generic.Strong */
.code pre .kc { color: #66d9ef } /* Keyword.Constant */
.code pre .kd { color: #66d9ef } /* Keyword.Declaration */
.code pre .kn { color: #f92672 } /* Keyword.Namespace */
.code pre .kp { color: #66d9ef } /* Keyword.Pseudo */
.code pre .kr { color: #66d9ef } /* Keyword.Reserved */
.code pre .kt { color: #66d9ef } /* Keyword.Type */
.code pre .ld { color: #e6db74 } /* Literal.Date */
.code pre .m { color: #ae81ff } /* Literal.Number */
.code pre .s { color: #e6db74 } /* Literal.String */
.code pre .na { color: #a6e22e } /* Name.Attribute */
.code pre .nb { color: #f8f8f2 } /* Name.Builtin */
.code pre .nc { color: #a6e22e } /* Name.Class */
.code pre .no { color: #66d9ef } /* Name.Constant */
.code pre .nd { color: #a6e22e } /* Name.Decorator */
.code pre .ni { color: #f8f8f2 } /* Name.Entity */
.code pre .ne { color: #a6e22e } /* Name.Exception */
.code pre .nf { color: #a6e22e } /* Name.Function */
.code pre .nl { color: #f8f8f2 } /* Name.Label */
.code pre .nn { color: #f8f8f2 } /* Name.Namespace */
.code pre .nx { color: #a6e22e } /* Name.Other */
.code pre .py { color: #f8f8f2 } /* Name.Property */
.code pre .nt { color: #f92672 } /* Name.Tag */
.code pre .nv { color: #f8f8f2 } /* Name.Variable */
.code pre .ow { color: #f92672 } /* Operator.Word */
.code pre .w { color: #f8f8f2 } /* Text.Whitespace */
.code pre .mf { color: #ae81ff } /* Literal.Number.Float */
.code pre .mh { color: #ae81ff } /* Literal.Number.Hex */
.code pre .mi { color: #ae81ff } /* Literal.Number.Integer */
.code pre .mo { color: #ae81ff } /* Literal.Number.Oct */
.code pre .sb { color: #e6db74 } /* Literal.String.Backtick */
.code pre .sc { color: #e6db74 } /* Literal.String.Char */
.code pre .sd { color: #e6db74 } /* Literal.String.Doc */
.code pre .s2 { color: #e6db74 } /* Literal.String.Double */
.code pre .se { color: #ae81ff } /* Literal.String.Escape */
.code pre .sh { color: #e6db74 } /* Literal.String.Heredoc */
.code pre .si { color: #e6db74 } /* Literal.String.Interpol */
.code pre .sx { color: #e6db74 } /* Literal.String.Other */
.code pre .sr { color: #e6db74 } /* Literal.String.Regex */
.code pre .s1 { color: #e6db74 } /* Literal.String.Single */
.code pre .ss { color: #e6db74 } /* Literal.String.Symbol */
.code pre .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.code pre .vc { color: #f8f8f2 } /* Name.Variable.Class */
.code pre .vg { color: #f8f8f2 } /* Name.Variable.Global */
.code pre .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.code pre .il { color: #ae81ff } /* Literal.Number.Integer.Long */

.code pre .gh { } /* Generic Heading & Diff Header */
.code pre .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
.code pre .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
.code pre .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */
