// yay for opensprites! //

::selection {
  cursor text
  color white
  background orange
}

.title, .huge, h1, h2, h3 {
  font-family Header
  font-weight 600
  color white
}

b {
  font-weight 600
}

.body, body, h4, h5, h6, blockquote, small {
  font-family Body
  font-weight 400

  font-size 1.1875rem
  line-height 1.5

  font-variant-ligatures common-ligatures
  font-feature-settings 'kern'
  font-kerning normal
  font-smoothing antialiased
}

p {
  font-size 1.3rem
}

blockquote {
  margin-left 0
  padding-left 24px
  border-left 4px solid #eee
}

.mono, code, pre {
  font-family 'Inconsolata', monospace
}

h1, h2, h3, h4, h5, h6 {
  font-weight 400
  color white

  margin-top 1em
  margin-bottom .3em

  margin 0
}

.comments textarea .comments-on textarea {
  padding .5em
  border 2px solid rgba(grey, 0.2)

  &:hover {
    border 2px solid white
  }
}

#comments #comments-loading {
  background black no-repeat center
  background-position top center
  background-size (176px/2)
  padding-top 0

  span {
    visibility hidden
  }
}

h1 {
  font-size 54px
  line-height 1.25em

  font-weight 600

  b {
    font-weight 800
  }
}

h2 {
  font-size 38px
  line-height 1.2em
}

h3 {
  font-size 36px
  line-height 1.15em
}

h4 {
  font-size 1.125em
  line-height 1.1em
}

h5, blockquote {
  font-size 1.2rem !important
  line-height 1.4em
}

h6, small {
  font-size 0.8rem
  line-height 1.2em
}

a {
  color blue
  cursor pointer
  text-decoration none

  a:hover {
    color inherit
  }

  font-weight 600
}
